fastapi
uvicorn[standard]
python-dotenv
openai
pydantic
pypdf
PyMuPDF
pytesseract
Pillow
python-multipart
matplotlib
boto3
reportlab
faiss-cpu
langchain
langchain-openai
langchain-community
tiktoken
-e .